<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.dylive.mapper.PollutionTimeInfoMapper">
    
    <resultMap type="PollutionTimeInfo" id="PollutionTimeInfoResult">
        <result property="id"    column="id"    />
        <result property="i"    column="i"    />
        <result property="j"    column="j"    />
        <result property="doxy"    column="doxy"    />
        <result property="tn"    column="tn"    />
        <result property="tp"    column="tp"    />
        <result property="mo"    column="mo"    />
        <result property="nh"    column="nh"    />
        <result property="locationOneX"    column="location_one_x"    />
        <result property="locationOneY"    column="location_one_y"    />
        <result property="locationTwoX"    column="location_two_x"    />
        <result property="locationTwoY"    column="location_two_y"    />
        <result property="locationThreeX"    column="location_three_x"    />
        <result property="locationThreeY"    column="location_three_y"    />
        <result property="locationFourX"    column="location_four_x"    />
        <result property="locationFourY"    column="location_four_y"    />
        <result property="dateInfo"    column="date_info"    />
        <result property="dateIndex"    column="date_index"    />
        <result property="indexInfo"    column="index_info"    />
    </resultMap>

    <sql id="selectPollutionTimeInfoVo">
        select id, i, j, doxy, tn, tp, mo, nh, location_one_x, location_one_y, location_two_x, location_two_y, location_three_x, location_three_y, location_four_x, location_four_y, date_info, date_index, index_info from pollution_time_info
    </sql>

    <select id="selectPollutionTimeInfoList" parameterType="PollutionTimeInfo" resultMap="PollutionTimeInfoResult">
        <include refid="selectPollutionTimeInfoVo"/>
        <where>  
            <if test="i != null "> and i = #{i}</if>
            <if test="j != null "> and j = #{j}</if>
            <if test="doxy != null  and doxy != ''"> and doxy = #{doxy}</if>
            <if test="tn != null  and tn != ''"> and tn = #{tn}</if>
            <if test="tp != null  and tp != ''"> and tp = #{tp}</if>
            <if test="mo != null  and mo != ''"> and mo = #{mo}</if>
            <if test="nh != null  and nh != ''"> and nh = #{nh}</if>
            <if test="locationOneX != null  and locationOneX != ''"> and location_one_x = #{locationOneX}</if>
            <if test="locationOneY != null  and locationOneY != ''"> and location_one_y = #{locationOneY}</if>
            <if test="locationTwoX != null  and locationTwoX != ''"> and location_two_x = #{locationTwoX}</if>
            <if test="locationTwoY != null  and locationTwoY != ''"> and location_two_y = #{locationTwoY}</if>
            <if test="locationThreeX != null  and locationThreeX != ''"> and location_three_x = #{locationThreeX}</if>
            <if test="locationThreeY != null  and locationThreeY != ''"> and location_three_y = #{locationThreeY}</if>
            <if test="locationFourX != null  and locationFourX != ''"> and location_four_x = #{locationFourX}</if>
            <if test="locationFourY != null  and locationFourY != ''"> and location_four_y = #{locationFourY}</if>
            <if test="dateInfo != null  and dateInfo != ''"> and date_info = #{dateInfo}</if>
            <if test="dateIndex != null "> and date_index = #{dateIndex}</if>
            <if test="indexInfo != null "> and index_info = #{indexInfo}</if>
        </where>
    </select>
    
    <select id="selectPollutionTimeInfoById" parameterType="Long" resultMap="PollutionTimeInfoResult">
        <include refid="selectPollutionTimeInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertPollutionTimeInfo" parameterType="PollutionTimeInfo" useGeneratedKeys="true" keyProperty="id">
        insert into pollution_time_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="i != null">i,</if>
            <if test="j != null">j,</if>
            <if test="doxy != null">doxy,</if>
            <if test="tn != null">tn,</if>
            <if test="tp != null">tp,</if>
            <if test="mo != null">mo,</if>
            <if test="nh != null">nh,</if>
            <if test="locationOneX != null">location_one_x,</if>
            <if test="locationOneY != null">location_one_y,</if>
            <if test="locationTwoX != null">location_two_x,</if>
            <if test="locationTwoY != null">location_two_y,</if>
            <if test="locationThreeX != null">location_three_x,</if>
            <if test="locationThreeY != null">location_three_y,</if>
            <if test="locationFourX != null">location_four_x,</if>
            <if test="locationFourY != null">location_four_y,</if>
            <if test="dateInfo != null">date_info,</if>
            <if test="dateIndex != null">date_index,</if>
            <if test="indexInfo != null">index_info,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="i != null">#{i},</if>
            <if test="j != null">#{j},</if>
            <if test="doxy != null">#{doxy},</if>
            <if test="tn != null">#{tn},</if>
            <if test="tp != null">#{tp},</if>
            <if test="mo != null">#{mo},</if>
            <if test="nh != null">#{nh},</if>
            <if test="locationOneX != null">#{locationOneX},</if>
            <if test="locationOneY != null">#{locationOneY},</if>
            <if test="locationTwoX != null">#{locationTwoX},</if>
            <if test="locationTwoY != null">#{locationTwoY},</if>
            <if test="locationThreeX != null">#{locationThreeX},</if>
            <if test="locationThreeY != null">#{locationThreeY},</if>
            <if test="locationFourX != null">#{locationFourX},</if>
            <if test="locationFourY != null">#{locationFourY},</if>
            <if test="dateInfo != null">#{dateInfo},</if>
            <if test="dateIndex != null">#{dateIndex},</if>
            <if test="indexInfo != null">#{indexInfo},</if>
         </trim>
    </insert>

    <update id="updatePollutionTimeInfo" parameterType="PollutionTimeInfo">
        update pollution_time_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="i != null">i = #{i},</if>
            <if test="j != null">j = #{j},</if>
            <if test="doxy != null">doxy = #{doxy},</if>
            <if test="tn != null">tn = #{tn},</if>
            <if test="tp != null">tp = #{tp},</if>
            <if test="mo != null">mo = #{mo},</if>
            <if test="nh != null">nh = #{nh},</if>
            <if test="locationOneX != null">location_one_x = #{locationOneX},</if>
            <if test="locationOneY != null">location_one_y = #{locationOneY},</if>
            <if test="locationTwoX != null">location_two_x = #{locationTwoX},</if>
            <if test="locationTwoY != null">location_two_y = #{locationTwoY},</if>
            <if test="locationThreeX != null">location_three_x = #{locationThreeX},</if>
            <if test="locationThreeY != null">location_three_y = #{locationThreeY},</if>
            <if test="locationFourX != null">location_four_x = #{locationFourX},</if>
            <if test="locationFourY != null">location_four_y = #{locationFourY},</if>
            <if test="dateInfo != null">date_info = #{dateInfo},</if>
            <if test="dateIndex != null">date_index = #{dateIndex},</if>
            <if test="indexInfo != null">index_info = #{indexInfo},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePollutionTimeInfoById" parameterType="Long">
        delete from pollution_time_info where id = #{id}
    </delete>

    <delete id="deletePollutionTimeInfoByIds" parameterType="String">
        delete from pollution_time_info where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchInsert">
        insert into pollution_time_info (i, j, doxy, tn, tp, mo, nh, location_one_x, location_one_y, location_two_x, location_two_y,
                                         location_three_x, location_three_y, location_four_x, location_four_y, date_info, date_index,
                                         index_info) values
            <foreach collection="list" item="item" index="index" separator=",">
                (
                    #{item.i}, #{item.j}, #{item.doxy}, #{item.tn}, #{item.tp}, #{item.mo}, #{item.nh}, #{item.locationOneX}, #{item.locationOneY},
                    #{item.locationTwoX}, #{item.locationTwoY}, #{item.locationThreeX}, #{item.locationThreeY}, #{item.locationFourX},#{item.locationFourY},
                    #{item.dateInfo}, #{item.dateIndex}, #{item.indexInfo}
                )
            </foreach>
    </insert>
</mapper>